@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

body {
    font-family: "Montserrat", sans-serif !important;
}

.navbar-nav {
    font-size: 1.3em;
    font-weight: 600;
}

.navbar-brand {
    font-size: 2em;
}

.perfect-centering {
   /* position: absolute;
   top: 50%;
   left:50%;
   transform: translate(-50%,-50%); */
    position: relative;
    margin: 0 auto;
 }

.ui-sortable-handle {
    margin: 0.2em;
    border: 0.2em solid black;
    list-style-type: none;
    text-align: center;
}

@media (min-width: 992px) {
    .navbar-brand {
        padding-left: 30px;
    }
}
