{% extends "bootstrap/base.html" %}

{% block title %}
    {% if title %}{{ title }} - DAFi{% else %}DAFi{% endif %}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/main.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/">ACTIONS</a></li>
                <li><a href="/">DATA</a></li>
                <li><a href="/">LOOP</a></li>
            </ul>
            <div class="navbar-header navbar-right">
                <a class="navbar-brand" href="{{ url_for('main.index') }}">DAF<span style="color: #00ffff;">i</style></a>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    {% block app_content %}{% endblock %}
{% endblock %}
