{% extends "bootstrap/base.html" %}

{% block title %}
    {% if title %}{{ title }} - DAFi{% else %}DAFi{% endif %}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/main.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-right">
                <a class="navbar-brand" href="{{ url_for('main.index') }}">DAF<span style="color: #00ffff;">i</style></a>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown">
                        <a  href="#" class="dropdown-toggle" data-toggle="dropdown">ACTIONS <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">ACTION 1</a></li>
                            <li><a href="#">ACTION 2</a></li>
                            <li><a href="#">ACTION 3</a></li>
                        </ul>
                    </li>
                    <li><a href="/">DATA</a></li>
                    <li><a href="/">LOOP</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="font-size: 1em;">
                    {% if current_user.is_anonmyous %}
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> SIGN UP</a></li>
                    <li><a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a></li>
                    {% else %}
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> PROFILE</a></li>
                    <li><a href="{{ url_for('auth.logout') }}"><span class="glyphicon glyphicon-log-in"></span> LOGOUT</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="row">
            <div class="alert alert-info col-md-6 col-md-offset-3" role="alert">{{ message }}</div>
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% block app_content %}{% endblock %}

{% endblock %}
