{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
    <div class="container perfect-centering">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <button id="save">Save Tree</button>
                <br><br>
                <div id="jsTree">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {

            // jsTree function + properties for jsTree
            $("#jsTree").jstree({
                "core": {
                    "check_callback": true,
                    "themes": {
                        "icons": false
                    },
                    "expand_selected_onload": false,
                    "data": [ {{ jsonTree | safe }} ]
                },
                "plugins": ["contextmenu", "dnd", "unique"]
            
            }).on("ready.jstree", function(){ $(this).jstree("open_all") }); // opens all jstree nodes
            
            // Makes save button send a POST request to the save_tree view function in main/routes.py
            // POST request also sends JSON data in jsTree
            $("#save").click(function() {
                
                json = $("#jsTree").jstree().get_json();
                $.post(
                    "{{ url_for('main.tree', masterGoalId='save') }}",
                    {"json": JSON.stringify(json[0])},
                    function(data,status) {
                        if (status === "success") {
                            alert("Tree saved!");
                        } else {
                            alert("Something went wrong: " + status);
                        }
                    }
                );

            });
                    
        
        });

    </script>
{% endblock %}
