{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
    <div class="container perfect-centering">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div id="sortable">
                    {{ treeHtml | safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {

            $("#sortable").jstree({
                "core": {
                    "check_callback": true,
                    "themes": {
                        "icons": false
                    },
                    "expand_selected_onload": false
                },
                "plugins": ["contextmenu", "dnd", "unique"]
            
            });

        }); // End of JQuery
    </script>
{% endblock %}
